CREATE OR REPLACE FUNCTION get_ac_dss_stats() RETURNS TABLE(total_analyses BIGINT, active_alerts BIGINT, stable_patients BIGINT, success_rate INT) LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN RETURN QUERY SELECT COUNT(*) as total_analyses, COUNT(*) FILTER (WHERE record_data->>'ai_response' ILIKE '%alerta%') as active_alerts, COUNT(DISTINCT patient_id) as stable_patients, 85 as success_rate FROM patient_medical_records WHERE record_type = 'chat_interaction'; END; \$\$;
