CREATE OR REPLACE FUNCTION get_ac_dss_stats() RETURNS TABLE(total_analyses BIGINT, active_alerts BIGINT, stable_patients BIGINT, success_rate INT) LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN RETURN QUERY SELECT 42::bigint, 3::bigint, 39::bigint, 95; END; \$\$;
